*{padding: 0; margin: 0; font-size:20px;}
body {min-width: 300px;}
.height-100{height: 100%;}
.width-100 {width:100%;}
.no-border {border:none;}
.display-flex {display: flex; }
.flex-wrap {flex-wrap: wrap;}
.flex-align {align-items: center;}
.first {background: url(../images/bg-tech/27-blur5px.jpg) no-repeat center; background-size: cover;}
.menu {background-color: rgba(36,36,36,0.8); border:none; color:#fff; font-size: 24px;}
.logo-left {
    width: 70px;
    display: block;
    float: left;
    margin: 7px 15px;
}
.list-menu{padding: 15px 0;}
.list-collapse {margin:17px}
.navbar-collapse .list-menu>li>a{color: rgb(150,150,150); text-decoration: underline; font-size: 22px; font-weight:bold;}
.navbar-collapse .list-menu>li>a:hover{color:#fff;text-decoration: underline;}
h1{font-size: 48px;color:#fff;font-weight:bold;margin: 0;}
h2{font-size: 36px;color:#fff;font-weight:bold;padding: 0; margin:0;}
h3{font-size: 32px;color:#fff; padding:0;margin:0;}
.text-white{color:#fff;}
.fz-26 {font-size:26px;}
.fz-20 {font-size:20px;}
.fz-14 {font-size:14px;}
.display-block {display:block;}
.btn-order{background-color: rgb(182,47,47);border-radius:5px;border-color:rgb(148,36,36);padding:14px 0; color:#fff;
font-size:28px; font-weight:bold; width: 100%; max-width: 650px; text-align: center; display:block; margin: 0 auto;
white-space: normal;}
.btn-order:hover, .btn-order:visited {color: #fff;background-color:rgb(148,36,36);}

.second {background-color: rgb(33, 42, 122); color: rgb(255, 255, 255);}
.third {background-color: rgb(57, 9, 61); color: rgb(255, 255, 255);}
.fourth {background: url(../images/bg-tech/30.jpg) no-repeat center; background-size: cover;}
.fifth {background: url(../images/bg-tech/41.jpg) no-repeat center; background-size: cover;}
.sixth {background: url(../images/bg-tech/23.jpg) no-repeat center; background-size: cover;}
.seventh {background-image: linear-gradient(to right, rgb(50, 47, 250) 0%, rgb(15, 14, 51) 100%);}
.end {background-color: rgb(36,36,36);}
.red {color:#ff0000;}

.screenshot-cover {
    position: relative;
    padding: 0;
    overflow: hidden;
    height: 520px;
    width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.screenshot {width: 100%; float: none; height: 100%}
.screenshot img {margin: 0 auto; float: none; display: block; height: 100%}
.carousel-control.right, .carousel-control.left {background-image: none; top: 45%; bottom: auto;}

@media only screen and (max-width : 991px) {.screenshot-cover {height: 380px;}}

@media only screen and (max-width : 768px) {.screenshot-cover {height: 320px;}}

@media only screen and (max-width : 640px) {
    .btn-order{font-size: 20px;}
    screenshot-cover {height: 240px;}
}
@media only screen and (max-width : 640px) {
    .btn-order{font-size: 20px;}
    screenshot-cover {height: 240px;}
}

@media only screen and (max-width : 480px) {
    h1{font-size: 22px; }
    h2 {font-size: 18px;}
    h3 {font-size: 18px;}
    .fz-26{font-size: 16px;}
    .screenshot-cover {height: 200px;}
}
@media only screen and (max-width : 420px) {.screenshot-cover {height: 176px;} #fp {display:none;}}

.price
{
    text-align: center;
    border-radius: 12px 12px 12px 12px;
   /* border: 1px solid black;*/

    padding-top: 25px;
    padding-bottom: 25px;
}

.price-active
{
    text-align: center;
    border-radius: 12px 12px 12px 12px;
     background: #39093d  ;
    color: green;

    padding-top: 25px;
    padding-bottom: 25px;

}


.price-head{
    text-align: center;

}

.price-head h2{

    font-family: Verdana;
    font-size: 30px;

}
.price-head h3{

font-family: Verdana;
font-size: 20px;

}

.price-about{
    margin: 15px;

}
.price-about li{
    list-style: none;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.price-price{
    color: #d0e9c6;
    margin: 10px;

}
.price-price a{
    font-size: 30px;
}