/*.bs-countdown-timer {
    border: 1px solid rgba(0,0,0,0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.bs-countdown-timer .col-xs-3 {
    text-align: center;
}*/
.countdown-timer {
    min-width: 320px;
}
.bs-countdown-timer .col-xs-4:after {
    content: ':';
    font-size: 48px;
    color: rgba(0,0,0,0.4);
    position: absolute;
    right: -9px;
    top: 0;
}
.bs-countdown-timer .col-xs-4:last-child::after {
    content: '';
    display: none;
}
.bs-countdown-timer .numcard {
    border: none;
    border-radius: 4px;
    width: 100%;
    max-width: 80px;
    height: 80px;
    margin: 0 auto;
    background: rgba(0,0,0,.05);
    padding-top: 10px;
}
.bs-countdown-timer .numcard-number {
    font-size: 36px;
    line-height: 42px;
    display: block;
}
.bs-countdown-timer .numcard-desc {
    font-size: 14px;
    padding: 0;
    display: block;
    color: rgba(0,0,0,.5);
}